**/node_modules
production.env
loca/~$Loca_Keys_Strings_DE_EN.xlsx
~$WIFI-Projekt Präsentation.pptx
.git
/cache
/artifacts
/coverage
/typechain-types
!/uploads/.gitkeep
/uploads/images/landing_.png
/client/build
/client/dist
attach.js
INTERVIEW_SCENARIOS.md
